<footer class="footer nightBG py-3 mt-auto">
	<div class="container">
		<span class="me-3"><span class="defFont">&copy;</span> <span class="xsText contentFont">2021 Superklok Labs</span></span>
		<div class="btn-group dropup">
			<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false">
				<span id="tmLogo">TM</span>
			</button>
			<ul class="dropdown-menu nightBG">
				<li id="tmDotLink" class="my-0 py-0">
					<a class="neonBtn mx-4" href="https://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.ca</span></a>
				</li>
				<li class="mt-0 mb-1 pt-0 pb-1">
					<a class="neonBtn mx-4" href="https://www.superklok.ca/"><span id="slText">Superklok.ca</span></a>
				</li>
				<li class="mt-0 mb-1 pt-0 pb-1">
					<a class="neonBtn mx-4" href="https://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
				</li>
				<li class="mb-2 pb-1">
					<a class="neonBtn mx-4" href="https://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
				</li>
				<li class="mt-0 mb-3">
					<a class="neonBtn mx-4" href="https://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
				</li>
			</ul>
		</div>
		<div class="btn-group dropup ms-2">
			<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="smText contentFont">Fran&#231;ais</span>
			</button>
			<ul class="dropdown-menu nightBG">
				<li class="mx-4 my-3 px-3">
					<a class="smText neonBtn" href="https://www.swingcars.net/">English</a>
				</li>
			</ul>
		</div>
	</div>
</footer>