<% layout('layouts/boilerplate') %>
<div class="p-3 mx-auto mt-5 mb-auto">
	<h1 class="neonBtn lgText">En construction!</h1>
	<h5 class="contentFont smText">Votre int&eacute;r&ecirc;t envers <span class="neonBtn mdText">Swingcars</span> est tr&egrave;s appr&eacute;ci&eacute;. Veuillez revenir plus tard et n'h&eacute;sitez pas d'envoyer un courriel &agrave; <a class="neonBtn mdBtn" href="mailto:trev@superklok.ca">trev@superklok.ca</a> si vous avez des questions concernant ce projet.</h5>
</div>