body {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url('../assets/img/swingcarsBG.jpg');
	background-size: cover;
	background-position: center;
	text-shadow: -1px 1px 0 #000,
				1px 1px 0 #000,
				1px -1px 0 #000,
				-1px -1px 0 #000;
}

.cover-container {
	max-width: 75vw;
}

.lgText {
	font-size: 3.5rem;
}

.enterBtn {
	font-size: 2.3rem;
}

.hpSocialBtn {
	text-decoration: none;
	padding: 3px;
}