<footer class="footer py-3 mt-auto">
	<div class="container">
		<a class="neonBtn" href="http://superkloklabs.ca/">
			<span class="me-3">&copy; <span class="xsText contentFont">2021 Superklok Labs</span></span>
		</a>
		<div class="btn-group dropup">
			<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false">
				<span id="tmLogo">TM</span>
			</button>
			<ul class="dropdown-menu nightBG">
				<li id="tmDotLink" class="my-0 py-0">
					<a class="neonBtn mx-4" href="http://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.CA</span></a>
				</li>
				<li class="mt-0 mb-1 pt-0 pb-1">
					<a class="neonBtn mx-4" href="http://www.superklok.ca/"><span id="slText">Superklok.ca</span></a>
				</li>
				<li class="mt-0 mb-1 pt-0 pb-1">
					<a class="neonBtn mx-4" href="http://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
				</li>
				<li class="mb-2 pb-1">
					<a class="neonBtn mx-4" href="http://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
				</li>
				<li class="mt-0 mb-3">
					<a class="neonBtn mx-4" href="http://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
				</li>
			</ul>
		</div>
		<div class="btn-group dropup ms-2">
			<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="smText contentFont">Fran&#231;ais</span>
			</button>
			<ul class="dropdown-menu nightBG">
				<li class="mx-4 my-3 px-3">
					<a class="smText neonBtn" href="http://www.swingcars.net/">English</a>
				</li>
			</ul>
		</div>
		<div class="row pt-2">
			<div class="col-lg-8 offset-lg-2 d-none d-sm-block">
				<a class="socialBtn" href="https://github.com/Superklok/SwingcarsPointCa/tree/main/v0.x.x">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258013/SocialMediaIcons/iconGH_zwphaf.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258263/SocialMediaIcons/iconYT_qjym3l.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258208/SocialMediaIcons/iconTT_lwrdmk.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258099/SocialMediaIcons/iconIG_q6ovlw.png" alt="">
				</a>
				<a class="socialBtn" href="https://soundcloud.com/user-166803901">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258155/SocialMediaIcons/iconSC_i0oi4x.png" alt="">
				</a>
				<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257825/SocialMediaIcons/iconAM_wvzqeg.png" alt="">
				</a>
				<a class="socialBtn" href="https://superklok.bandcamp.com/">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257800/SocialMediaIcons/iconBC_umi8zt.png" alt="">
				</a>
			</div>
		</div>
		<div class="row pt-0 d-block d-sm-none">
			<div class="col-lg-8 offset-lg-2">
				<a class="socialBtn" href="https://github.com/Superklok/SwingcarsPointCa/tree/main/v0.x.x">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258013/SocialMediaIcons/iconGH_zwphaf.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258263/SocialMediaIcons/iconYT_qjym3l.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258208/SocialMediaIcons/iconTT_lwrdmk.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258099/SocialMediaIcons/iconIG_q6ovlw.png" alt="">
				</a>
			</div>
		</div>
		<div class="row pt-3 d-block d-sm-none">
			<div class="col-lg-8 offset-lg-2">
				<a class="socialBtn" href="https://soundcloud.com/user-166803901">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258155/SocialMediaIcons/iconSC_i0oi4x.png" alt="">
				</a>
				<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257825/SocialMediaIcons/iconAM_wvzqeg.png" alt="">
				</a>
				<a class="socialBtn" href="https://superklok.bandcamp.com/">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257800/SocialMediaIcons/iconBC_umi8zt.png" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>