<footer class="footer nightBG py-0 mt-auto">
	<div class="container d-none d-lg-block">
		<div class="d-flex align-items-center">
			<a class="neonBtn" href="http://superkloklabs.ca/">
				<span class="me-3">&copy; <span class="xsText contentFont">2021 Superklok Labs</span></span>
			</a>
			<div class="btn-group dropup">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,-1">
					<span id="tmLogo">TM</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li id="tmDotLink" class="my-0 py-0">
						<a class="neonBtn mx-4" href="http://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.CA</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.superklok.ca/"><span id="slText">Superklok.ca</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
					</li>
					<li class="mb-2 pb-1">
						<a class="neonBtn mx-4" href="http://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
					</li>
					<li class="mt-0 mb-2">
						<a class="neonBtn mx-4" href="http://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
					</li>
				</ul>
			</div>
			<div class="btn-group dropup ms-2">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,7">
					<span class="smText contentFont">Fran&#231;ais</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li class="mx-4 my-1 px-3">
						<a class="smText neonBtn" href="http://www.swingcars.net/">English</a>
					</li>
				</ul>
			</div>
			<div class="ms-auto">
				<a class="socialBtn" href="https://github.com/Superklok/SwingcarsPointCa/tree/main/v1.x.x">
					<img src="../assets/img/icons/iconGH.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
					<img src="../assets/img/icons/iconYT.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
					<img src="../assets/img/icons/iconTT.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
					<img src="../assets/img/icons/iconIG.png" alt="">
				</a>
				<a class="socialBtn" href="https://soundcloud.com/user-166803901">
					<img src="../assets/img/icons/iconSC.png" alt="">
				</a>
				<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
					<img class="rounded" src="../assets/img/icons/iconAM.png" alt="">
				</a>
				<a class="socialBtn" href="https://superklok.bandcamp.com/">
					<img class="rounded" src="../assets/img/icons/iconBC.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="container d-none d-sm-block d-lg-none">
		<div class="d-flex align-items-center py-0">
			<div class="btn-group dropup">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,-1">
					<span id="tmLogo">TM</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li id="tmDotLink" class="my-0 py-0">
						<a class="neonBtn mx-4" href="http://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.CA</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.superklok.ca/"><span id="slText">Superklok.ca</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
					</li>
					<li class="mb-2 pb-1">
						<a class="neonBtn mx-4" href="http://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
					</li>
					<li class="mt-0 mb-2">
						<a class="neonBtn mx-4" href="http://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
					</li>
				</ul>
			</div>
			<div class="btn-group dropup ms-2">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,7">
					<span class="smText contentFont">Fran&#231;ais</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li class="mx-4 my-1 px-3">
						<a class="smText neonBtn" href="http://www.swingcars.net/">English</a>
					</li>
				</ul>
			</div>
			<div class="ms-auto mb-0">
				<a class="socialBtn" href="https://github.com/Superklok/SwingcarsPointCa/tree/main/v1.x.x">
					<img src="../assets/img/icons/iconGH.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
					<img src="../assets/img/icons/iconYT.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
					<img src="../assets/img/icons/iconTT.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
					<img src="../assets/img/icons/iconIG.png" alt="">
				</a>
			</div>
		</div>
		<div class="d-flex align-items-center pb-2">
			<a class="neonBtn" href="http://superkloklabs.ca/">
				<span class="me-3">&copy; <span class="xsText contentFont">2021 Superklok Labs</span></span>
			</a>
			<div class="ms-auto pb-1">
				<a class="socialBtn" href="https://soundcloud.com/user-166803901">
					<img src="../assets/img/icons/iconSC.png" alt="">
				</a>
				<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
					<img class="rounded" src="../assets/img/icons/iconAM.png" alt="">
				</a>
				<a class="socialBtn" href="https://superklok.bandcamp.com/">
					<img class="rounded" src="../assets/img/icons/iconBC.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="d-block d-sm-none">
		<div class="d-flex align-items-center justify-content-center py-0">
			<div class="btn-group dropup">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,-1">
					<span id="tmLogo">TM</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li id="tmDotLink" class="my-0 py-0">
						<a class="neonBtn mx-4" href="http://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.CA</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.superklok.ca/"><span id="slText">Superklok.ca</span></a>
					</li>
					<li class="mt-0 mb-1 pt-0 pb-1">
						<a class="neonBtn mx-4" href="http://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
					</li>
					<li class="mb-2 pb-1">
						<a class="neonBtn mx-4" href="http://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
					</li>
					<li class="mt-0 mb-2">
						<a class="neonBtn mx-4" href="http://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
					</li>
				</ul>
			</div>
			<div class="btn-group dropup ms-2">
				<button type="button" class="dropdown-toggle neonBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,7">
					<span class="smText contentFont">Fran&#231;ais</span>
				</button>
				<ul class="dropdown-menu nightBG">
					<li class="mx-4 my-1 px-3">
						<a class="smText neonBtn" href="http://www.swingcars.net/">English</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex align-items-center justify-content-center py-0">
			<a class="neonBtn" href="http://superkloklabs.ca/">
				<span class="me-3">&copy; <span class="xsText contentFont">2021 Superklok Labs</span></span>
			</a>
		</div>
		<div class="d-flex align-items-center justify-content-center pt-2">
			<a class="socialBtn" href="https://github.com/Superklok/SwingcarsPointCa/tree/main/v1.x.x">
				<img src="../assets/img/icons/iconGH.png" alt="">
			</a>
			<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
				<img src="../assets/img/icons/iconYT.png" alt="">
			</a>
			<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
				<img src="../assets/img/icons/iconTT.png" alt="">
			</a>
			<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
				<img src="../assets/img/icons/iconIG.png" alt="">
			</a>
		</div>
		<div class="d-flex align-items-center justify-content-center pb-1">
			<a class="socialBtn" href="https://soundcloud.com/user-166803901">
				<img src="../assets/img/icons/iconSC.png" alt="">
			</a>
			<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
				<img class="rounded" src="../assets/img/icons/iconAM.png" alt="">
			</a>
			<a class="socialBtn" href="https://superklok.bandcamp.com/">
				<img class="rounded" src="../assets/img/icons/iconBC.png" alt="">
			</a>
		</div>
	</div>
</footer>