body {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url('../assets/img/swingcarsBG.jpg');
	background-size: cover;
	background-position: center;
	background-color: #9C004C;
	text-shadow: -1px 1px 0 #000,
				1px 1px 0 #000,
				1px -1px 0 #000,
				-1px -1px 0 #000;
}

.lgText {
	font-size: 3.5rem;
}

.lgMobileText {
	font-size: 3rem;
}

.socialBtn {
	text-decoration: none;
	padding: 7px;
}

.copyright {
	font-size: 1.5rem;
}